#app {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url("https://images.wallpaperscraft.ru/image/dym_pelena_krasochnyj_122204_3840x2400.jpg");
    background-size: cover;
}